.container {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Open Sans', sans-serif;
}

.newsletter{
    color: grey;
    border: solid thin #cfcfcf;
    border-radius: 3px;
    position: relative;
    padding-bottom: 10px;
    padding: 10px;
}

.newsletter button {
    background-color: #3cb878;
    color: white;
    border: none;
    display: block;
    width: 100%;
    height: 30px;
    margin-bottom: 10px;
}

.newsletter input#email{
    display: block;
    width: 100%;
    height: 30px;
    border: solid #cfcfcf 1px;
    border-radius: 3px;
    margin-bottom: 4px;
    box-sizing: border-box;
}

.newsletter h3 {
    margin-top: 0;
    
}

.newsletter #terms {
    position: relative;
    top: 1px;
}

.newsletter #closex {
    position: absolute;
    top: 1px;
    right: 4px;
}